#main-content {
  background-image: url('https://assets.ubuntu.com/v1/b70dcf07-vanilla-grad-background-min.png');
  background-position: 75% 50%;
  height: 20rem;
  padding-top: 0;
}

#main-content-desc {
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  width: 16rem;
  left: 50%;
  top: 12rem;
  padding: 2rem;
}

#main-introduction {
  padding-top: 10rem
}

#main-introduction p {
  margin-left: auto;
  margin-right: auto; text-align: center;
}

#main-introduction-images-row {
  margin-top: 4rem;
}

.main-introduction-image-desc {
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  padding: 0.5rem;
  border: 0.2rem solid;
  background: rgb(255, 255, 255);
  position: relative;
  top: -2rem;
}

#landing-pricing {
  background: rgb(255, 235, 235);
}


#main-content-img {
  position: relative;
  top: 4rem;
}

.frame {
    width: 600px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.slides {
    display: inline-block;
}

.js_slide {
    position: relative;
    display: inline-block;
    width: 600px;
    height: 360px;
    background: #444;
}
